html, body, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a,
body .gvp_wrapper #download_bar ul li a:visited,
.default .gvp_wrapper #download_bar ul li a:visited,
.smgt .gvp_wrapper #download_bar ul li a:visited,
.hwm .gvp_wrapper #download_bar ul li a:visited,
.himt .gvp_wrapper #download_bar ul li a:visited,
.flx .gvp_wrapper #download_bar ul li a:visited,
.il .gvp_wrapper #download_bar ul li a:visited,
.bps .gvp_wrapper #download_bar ul li a:visited, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html, body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img, body .gvp_wrapper #download_bar ul li a:visited img, .default .gvp_wrapper #download_bar ul li a:visited img, .smgt .gvp_wrapper #download_bar ul li a:visited img, .hwm .gvp_wrapper #download_bar ul li a:visited img, .himt .gvp_wrapper #download_bar ul li a:visited img, .flx .gvp_wrapper #download_bar ul li a:visited img, .il .gvp_wrapper #download_bar ul li a:visited img, .bps .gvp_wrapper #download_bar ul li a:visited img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

* {
  outline: none; }

html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: transparent; }

body .gvp_wrapper {
  position: relative;
  float: left;
  clear: both;
        /*
.newWindow-button {
            display: block;
            position: absolute;
            padding: 10px;
        	font-size: 16px;
        	color: #fff;
        	text-align: center;
        	background-color: rgba(0, 109, 204, 0.7);
        	@include border-radius( 6px );
        	cursor: pointer;
        	top: 46%;
        	left: 30%;
        	z-index: 2;
        }

        .newWindow-button:before {
        	content: "Launch Video in a New Window";
        }
*/ }
  body .gvp_wrapper .title_bar {
    position: absolute;
    width: 100%;
    height: 30px;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    padding: 4px 15px 0;
    background: rgba(0, 0, 0, 0.85);
    top: 0;
    left: 0;
    z-index: 99;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  body .gvp_wrapper .replay-button {
    display: block;
    position: absolute;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    background-color: rgba(0, 109, 204, 0.7);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    cursor: pointer;
    left: 46%;
    top: 46%;
    z-index: 2; }
  body .gvp_wrapper .replay-button:before {
    content: "replay"; }
  body .gvp_wrapper .error {
    margin: 0;
    padding: 40px 15px 0;
    font-weight: bold;
    color: #ea1515; }
    body .gvp_wrapper .error small {
      display: block;
      margin-top: 10px;
      font-weight: normal;
      line-height: 1.3;
      color: #333; }
  body .gvp_wrapper .vjs-poster {
    background-color: #000; }
  body .gvp_wrapper #download_bar {
    width: 100%;
    margin-top: 10px;
    text-align: right;
    float: left;
    clear: both; }
    body .gvp_wrapper #download_bar p {
      display: inline-block;
      margin-left: 10px;
      margin: 0 0 5px 0;
      font-size: 12px;
      color: #b5b5b5;
      font-weight: normal; }
    body .gvp_wrapper #download_bar ul {
      display: inline-block;
      width: inherit;
      margin: 0;
      padding: 0;
      list-style: none; }
      body .gvp_wrapper #download_bar ul li {
        display: inline-block;
        margin-left: 10px; }
        body .gvp_wrapper #download_bar ul li a, body .gvp_wrapper #download_bar ul li a:visited, body .default .gvp_wrapper #download_bar ul li a:visited, .default body .gvp_wrapper #download_bar ul li a:visited, body .smgt .gvp_wrapper #download_bar ul li a:visited, .smgt body .gvp_wrapper #download_bar ul li a:visited, body .hwm .gvp_wrapper #download_bar ul li a:visited, .hwm body .gvp_wrapper #download_bar ul li a:visited, body .himt .gvp_wrapper #download_bar ul li a:visited, .himt body .gvp_wrapper #download_bar ul li a:visited, body .flx .gvp_wrapper #download_bar ul li a:visited, .flx body .gvp_wrapper #download_bar ul li a:visited, body .il .gvp_wrapper #download_bar ul li a:visited, .il body .gvp_wrapper #download_bar ul li a:visited, body .bps .gvp_wrapper #download_bar ul li a:visited, .bps body .gvp_wrapper #download_bar ul li a:visited {
          display: block;
          position: relative;
          font-size: 14px;
          text-decoration: none;
          padding: 5px 20px 5px 28px;
          font-weight: normal;
          color: #818181;
          background-color: #fdfdfd;
          border: #939393 solid 1px; }
        body .gvp_wrapper #download_bar ul li a:after, body .gvp_wrapper #download_bar ul li a:visited:after, body .default .gvp_wrapper #download_bar ul li a:visited:after, .default body .gvp_wrapper #download_bar ul li a:visited:after, body .smgt .gvp_wrapper #download_bar ul li a:visited:after, .smgt body .gvp_wrapper #download_bar ul li a:visited:after, body .hwm .gvp_wrapper #download_bar ul li a:visited:after, .hwm body .gvp_wrapper #download_bar ul li a:visited:after, body .himt .gvp_wrapper #download_bar ul li a:visited:after, .himt body .gvp_wrapper #download_bar ul li a:visited:after, body .flx .gvp_wrapper #download_bar ul li a:visited:after, .flx body .gvp_wrapper #download_bar ul li a:visited:after, body .il .gvp_wrapper #download_bar ul li a:visited:after, .il body .gvp_wrapper #download_bar ul li a:visited:after, body .bps .gvp_wrapper #download_bar ul li a:visited:after, .bps body .gvp_wrapper #download_bar ul li a:visited:after {
          position: absolute;
          width: 30px;
          height: 25px;
          content: "";
          background: url("../img/download_icon.png");
          opacity: 0.75;
          top: 2px;
          left: 0;
          bottom: 0;
          right: 0;
          z-index: 1; }
        body .gvp_wrapper #download_bar ul li a:hover, body .default .gvp_wrapper #download_bar ul li a:hover:visited, .default body .gvp_wrapper #download_bar ul li a:hover:visited, body .smgt .gvp_wrapper #download_bar ul li a:hover:visited, .smgt body .gvp_wrapper #download_bar ul li a:hover:visited, body .hwm .gvp_wrapper #download_bar ul li a:hover:visited, .hwm body .gvp_wrapper #download_bar ul li a:hover:visited, body .himt .gvp_wrapper #download_bar ul li a:hover:visited, .himt body .gvp_wrapper #download_bar ul li a:hover:visited, body .flx .gvp_wrapper #download_bar ul li a:hover:visited, .flx body .gvp_wrapper #download_bar ul li a:hover:visited, body .il .gvp_wrapper #download_bar ul li a:hover:visited, .il body .gvp_wrapper #download_bar ul li a:hover:visited, body .bps .gvp_wrapper #download_bar ul li a:hover:visited, .bps body .gvp_wrapper #download_bar ul li a:hover:visited {
          border: #333 solid 1px;
          background-image: url("../img/download_icon.png");
          background-repeat: no-repeat;
          background-position: left 2px;
          background-color: #fff;
          color: #333; }
      body .gvp_wrapper #download_bar ul li:first-child {
        margin-left: 0; }
  body .gvp_wrapper .footer {
    display: none; }

.default {
  border-top: 15px solid #0f4b90;
  background-color: #333; }
  .default .gvp_wrapper {
    margin: 15px auto;
    float: none; }
    .default .gvp_wrapper .logo {
      width: 154px;
      height: 75px;
      background-image: url("../img/uwex_ceoel.png"); }
    .default .gvp_wrapper .title_bar {
      position: static;
      padding: 0;
      margin: 15px 0;
      color: #000;
      font-size: 24px;
      background: none;
      top: 0;
      left: 0;
      z-index: 0; }
    .default .gvp_wrapper .title_bar {
      color: #f2f2f2; }
    .default .gvp_wrapper .video_holder {
      -moz-box-shadow: 0 0 16px 0 #000;
      -webkit-box-shadow: 0 0 16px 0 #000;
      box-shadow: 0 0 16px 0 #000; }
    .default .gvp_wrapper #download_bar {
      margin: 15px 0; }
      .default .gvp_wrapper #download_bar ul li {
        margin-left: 3px; }
        .default .gvp_wrapper #download_bar ul li a, .default .gvp_wrapper #download_bar ul li a:visited {
          color: #333;
          background-color: #f2f2f2;
          border: 1px solid #ccc;
          -moz-box-shadow: 0 1px 0 0 #ccc;
          -webkit-box-shadow: 0 1px 0 0 #ccc;
          box-shadow: 0 1px 0 0 #ccc;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          border-radius: 3px;
          padding: 10px 20px 10px 30px; }
        .default .gvp_wrapper #download_bar ul li a:after, .default .gvp_wrapper #download_bar ul li a:visited:after {
          opacity: 1;
          top: 7px; }
        .default .gvp_wrapper #download_bar ul li a:hover {
          color: #000;
          background-color: #fff;
          border: 1px solid #ccc;
          -moz-box-shadow: 0 1px 0 0 #ccc;
          -webkit-box-shadow: 0 1px 0 0 #ccc;
          box-shadow: 0 1px 0 0 #ccc;
          background-position: left 7px; }
    .default .gvp_wrapper .footer {
      display: block;
      color: #000;
      font-size: 12px;
      font-weight: normal;
      margin: 15px 0; }
    .default .gvp_wrapper .footer {
      color: #a5a5a5; }

.smgt {
  border-top: 15px solid #5d8828;
  background-color: #e1e1dc; }
  .smgt .gvp_wrapper {
    margin: 15px auto;
    float: none; }
    .smgt .gvp_wrapper .logo {
      background-image: url("../img/smgt.png");
      width: 210px;
      height: 55px; }
    .smgt .gvp_wrapper .title_bar {
      position: static;
      padding: 0;
      margin: 15px 0;
      color: #000;
      font-size: 24px;
      background: none;
      top: 0;
      left: 0;
      z-index: 0; }
    .smgt .gvp_wrapper .video_holder {
      -moz-box-shadow: 0 0 16px 0 #8A8A8A;
      -webkit-box-shadow: 0 0 16px 0 #8A8A8A;
      box-shadow: 0 0 16px 0 #8A8A8A; }
    .smgt .gvp_wrapper #download_bar {
      margin: 15px 0; }
      .smgt .gvp_wrapper #download_bar ul li {
        margin-left: 3px; }
        .smgt .gvp_wrapper #download_bar ul li a, .smgt .gvp_wrapper #download_bar ul li a:visited {
          color: #333;
          background-color: #f2f2f2;
          border: 1px solid #ccc;
          -moz-box-shadow: 0 1px 0 0 #ccc;
          -webkit-box-shadow: 0 1px 0 0 #ccc;
          box-shadow: 0 1px 0 0 #ccc;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          border-radius: 3px;
          padding: 10px 20px 10px 30px; }
        .smgt .gvp_wrapper #download_bar ul li a:after, .smgt .gvp_wrapper #download_bar ul li a:visited:after {
          opacity: 1;
          top: 7px; }
        .smgt .gvp_wrapper #download_bar ul li a:hover {
          color: #000;
          background-color: #fff;
          border: 1px solid #ccc;
          -moz-box-shadow: 0 1px 0 0 #ccc;
          -webkit-box-shadow: 0 1px 0 0 #ccc;
          box-shadow: 0 1px 0 0 #ccc;
          background-position: left 7px; }
    .smgt .gvp_wrapper .footer {
      display: block;
      color: #000;
      font-size: 12px;
      font-weight: normal;
      margin: 15px 0; }

.hwm {
  border-top: 15px solid #48a942;
  background-color: #fff; }
  .hwm .gvp_wrapper {
    margin: 15px auto;
    float: none; }
    .hwm .gvp_wrapper .logo {
      background-image: url("../img/hwm.png");
      width: 224px;
      height: 75px; }
    .hwm .gvp_wrapper .title_bar {
      position: static;
      padding: 0;
      margin: 15px 0;
      color: #000;
      font-size: 24px;
      background: none;
      top: 0;
      left: 0;
      z-index: 0; }
    .hwm .gvp_wrapper .video_holder {
      -moz-box-shadow: 0 0 16px 0 #8A8A8A;
      -webkit-box-shadow: 0 0 16px 0 #8A8A8A;
      box-shadow: 0 0 16px 0 #8A8A8A; }
    .hwm .gvp_wrapper #download_bar {
      margin: 15px 0; }
      .hwm .gvp_wrapper #download_bar ul li {
        margin-left: 3px; }
        .hwm .gvp_wrapper #download_bar ul li a, .hwm .gvp_wrapper #download_bar ul li a:visited {
          color: #333;
          background-color: #f2f2f2;
          border: 1px solid #ccc;
          -moz-box-shadow: 0 1px 0 0 #ccc;
          -webkit-box-shadow: 0 1px 0 0 #ccc;
          box-shadow: 0 1px 0 0 #ccc;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          border-radius: 3px;
          padding: 10px 20px 10px 30px; }
        .hwm .gvp_wrapper #download_bar ul li a:after, .hwm .gvp_wrapper #download_bar ul li a:visited:after {
          opacity: 1;
          top: 7px; }
        .hwm .gvp_wrapper #download_bar ul li a:hover {
          color: #000;
          background-color: #fff;
          border: 1px solid #ccc;
          -moz-box-shadow: 0 1px 0 0 #ccc;
          -webkit-box-shadow: 0 1px 0 0 #ccc;
          box-shadow: 0 1px 0 0 #ccc;
          background-position: left 7px; }
    .hwm .gvp_wrapper .footer {
      display: block;
      color: #000;
      font-size: 12px;
      font-weight: normal;
      margin: 15px 0; }

.himt {
  border-top: 15px solid #3b658f;
  background-color: #fff; }
  .himt .gvp_wrapper {
    margin: 15px auto;
    float: none; }
    .himt .gvp_wrapper .logo {
      background-image: url("../img/himt.png");
      width: 203px;
      height: 75px; }
    .himt .gvp_wrapper .title_bar {
      position: static;
      padding: 0;
      margin: 15px 0;
      color: #000;
      font-size: 24px;
      background: none;
      top: 0;
      left: 0;
      z-index: 0; }
    .himt .gvp_wrapper .video_holder {
      -moz-box-shadow: 0 0 16px 0 #8A8A8A;
      -webkit-box-shadow: 0 0 16px 0 #8A8A8A;
      box-shadow: 0 0 16px 0 #8A8A8A; }
    .himt .gvp_wrapper #download_bar {
      margin: 15px 0; }
      .himt .gvp_wrapper #download_bar ul li {
        margin-left: 3px; }
        .himt .gvp_wrapper #download_bar ul li a, .himt .gvp_wrapper #download_bar ul li a:visited {
          color: #333;
          background-color: #f2f2f2;
          border: 1px solid #ccc;
          -moz-box-shadow: 0 1px 0 0 #ccc;
          -webkit-box-shadow: 0 1px 0 0 #ccc;
          box-shadow: 0 1px 0 0 #ccc;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          border-radius: 3px;
          padding: 10px 20px 10px 30px; }
        .himt .gvp_wrapper #download_bar ul li a:after, .himt .gvp_wrapper #download_bar ul li a:visited:after {
          opacity: 1;
          top: 7px; }
        .himt .gvp_wrapper #download_bar ul li a:hover {
          color: #000;
          background-color: #fff;
          border: 1px solid #ccc;
          -moz-box-shadow: 0 1px 0 0 #ccc;
          -webkit-box-shadow: 0 1px 0 0 #ccc;
          box-shadow: 0 1px 0 0 #ccc;
          background-position: left 7px; }
    .himt .gvp_wrapper .footer {
      display: block;
      color: #000;
      font-size: 12px;
      font-weight: normal;
      margin: 15px 0; }

.flx {
  border-top: 15px solid #b60050;
  background-color: #fff; }
  .flx .gvp_wrapper {
    margin: 15px auto;
    float: none; }
    .flx .gvp_wrapper .logo {
      background-image: url("../img/flx.png");
      width: 349px;
      height: 50px; }
    .flx .gvp_wrapper .title_bar {
      position: static;
      padding: 0;
      margin: 15px 0;
      color: #000;
      font-size: 24px;
      background: none;
      top: 0;
      left: 0;
      z-index: 0; }
    .flx .gvp_wrapper .title_bar {
      color: #6d6e70; }
    .flx .gvp_wrapper .video_holder {
      -moz-box-shadow: 0 0 16px 0 #8A8A8A;
      -webkit-box-shadow: 0 0 16px 0 #8A8A8A;
      box-shadow: 0 0 16px 0 #8A8A8A; }
    .flx .gvp_wrapper #download_bar {
      margin: 15px 0; }
      .flx .gvp_wrapper #download_bar ul li {
        margin-left: 3px; }
        .flx .gvp_wrapper #download_bar ul li a, .flx .gvp_wrapper #download_bar ul li a:visited {
          color: #333;
          background-color: #f2f2f2;
          border: 1px solid #ccc;
          -moz-box-shadow: 0 1px 0 0 #ccc;
          -webkit-box-shadow: 0 1px 0 0 #ccc;
          box-shadow: 0 1px 0 0 #ccc;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          border-radius: 3px;
          padding: 10px 20px 10px 30px; }
        .flx .gvp_wrapper #download_bar ul li a:after, .flx .gvp_wrapper #download_bar ul li a:visited:after {
          opacity: 1;
          top: 7px; }
        .flx .gvp_wrapper #download_bar ul li a:hover {
          color: #000;
          background-color: #fff;
          border: 1px solid #ccc;
          -moz-box-shadow: 0 1px 0 0 #ccc;
          -webkit-box-shadow: 0 1px 0 0 #ccc;
          box-shadow: 0 1px 0 0 #ccc;
          background-position: left 7px; }
    .flx .gvp_wrapper .footer {
      display: block;
      color: #000;
      font-size: 12px;
      font-weight: normal;
      margin: 15px 0; }
    .flx .gvp_wrapper .footer {
      color: #6d6e70; }

.il {
  border-top: 15px solid #017b84;
  background-color: #fff; }
  .il .gvp_wrapper {
    margin: 15px auto;
    float: none; }
    .il .gvp_wrapper .logo {
      background-image: url("../img/il.png");
      width: 285px;
      height: 55px; }
    .il .gvp_wrapper .title_bar {
      position: static;
      padding: 0;
      margin: 15px 0;
      color: #000;
      font-size: 24px;
      background: none;
      top: 0;
      left: 0;
      z-index: 0; }
    .il .gvp_wrapper .video_holder {
      -moz-box-shadow: 0 0 16px 0 #8A8A8A;
      -webkit-box-shadow: 0 0 16px 0 #8A8A8A;
      box-shadow: 0 0 16px 0 #8A8A8A; }
    .il .gvp_wrapper #download_bar {
      margin: 15px 0; }
      .il .gvp_wrapper #download_bar ul li {
        margin-left: 3px; }
        .il .gvp_wrapper #download_bar ul li a, .il .gvp_wrapper #download_bar ul li a:visited {
          color: #333;
          background-color: #f2f2f2;
          border: 1px solid #ccc;
          -moz-box-shadow: 0 1px 0 0 #ccc;
          -webkit-box-shadow: 0 1px 0 0 #ccc;
          box-shadow: 0 1px 0 0 #ccc;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          border-radius: 3px;
          padding: 10px 20px 10px 30px; }
        .il .gvp_wrapper #download_bar ul li a:after, .il .gvp_wrapper #download_bar ul li a:visited:after {
          opacity: 1;
          top: 7px; }
        .il .gvp_wrapper #download_bar ul li a:hover {
          color: #000;
          background-color: #fff;
          border: 1px solid #ccc;
          -moz-box-shadow: 0 1px 0 0 #ccc;
          -webkit-box-shadow: 0 1px 0 0 #ccc;
          box-shadow: 0 1px 0 0 #ccc;
          background-position: left 7px; }
    .il .gvp_wrapper .footer {
      display: block;
      color: #000;
      font-size: 12px;
      font-weight: normal;
      margin: 15px 0; }

.bps {
  border-top: 15px solid #333;
  background-color: #fff; }
  .bps .gvp_wrapper {
    margin: 15px auto;
    float: none; }
    .bps .gvp_wrapper .logo {
      background-image: url("../img/bps.png");
      width: 203px;
      height: 75px; }
    .bps .gvp_wrapper .title_bar {
      position: static;
      padding: 0;
      margin: 15px 0;
      color: #000;
      font-size: 24px;
      background: none;
      top: 0;
      left: 0;
      z-index: 0; }
    .bps .gvp_wrapper .video_holder {
      -moz-box-shadow: 0 0 16px 0 #8A8A8A;
      -webkit-box-shadow: 0 0 16px 0 #8A8A8A;
      box-shadow: 0 0 16px 0 #8A8A8A; }
    .bps .gvp_wrapper #download_bar {
      margin: 15px 0; }
      .bps .gvp_wrapper #download_bar ul li {
        margin-left: 3px; }
        .bps .gvp_wrapper #download_bar ul li a, .bps .gvp_wrapper #download_bar ul li a:visited {
          color: #333;
          background-color: #f2f2f2;
          border: 1px solid #ccc;
          -moz-box-shadow: 0 1px 0 0 #ccc;
          -webkit-box-shadow: 0 1px 0 0 #ccc;
          box-shadow: 0 1px 0 0 #ccc;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          border-radius: 3px;
          padding: 10px 20px 10px 30px; }
        .bps .gvp_wrapper #download_bar ul li a:after, .bps .gvp_wrapper #download_bar ul li a:visited:after {
          opacity: 1;
          top: 7px; }
        .bps .gvp_wrapper #download_bar ul li a:hover {
          color: #000;
          background-color: #fff;
          border: 1px solid #ccc;
          -moz-box-shadow: 0 1px 0 0 #ccc;
          -webkit-box-shadow: 0 1px 0 0 #ccc;
          box-shadow: 0 1px 0 0 #ccc;
          background-position: left 7px; }
    .bps .gvp_wrapper .footer {
      display: block;
      color: #000;
      font-size: 12px;
      font-weight: normal;
      margin: 15px 0; }
