body {
	border-top:15px solid #003d7d;
	background-color: #FFFFFF;
}
.gvp_wrapper {
	position: static;
	float: none;
	margin: 15px auto 15px;
}
.gvp_wrapper .logo {
	background-image: url("img/bps.png");
	width:203px;
	height:75px;
	margin: 0px;
}
.gvp_wrapper .title_bar {
	position:static;
	top:0;
	left:0;
	z-index:0;
	height:auto;
	color: #717073;
	font-size:24px;
	padding: 5px 0px;
	background: none;
	margin:15px 0px;
}
.gvp_wrapper .video_holder {
	box-shadow: 0px 0px 16px #8A8A8A;
}

.gvp_wrapper #download_bar {
	margin: 15px 0px;
}
.gvp_wrapper #download_bar ul li {
	margin-left: 3px;
}
.gvp_wrapper #download_bar ul li a,
.gvp_wrapper #download_bar ul li a:visited {
	color: #333333;
	background-color: #f2f2f2;
	border: 1px solid #ccc;
	box-shadow: 0px 1px 0px #ccc;
	border-radius: 3px 3px;
	padding: 10px 20px 10px 30px;
}
.gvp_wrapper #download_bar ul li a:after {
	opacity: 1;
	top: 7px;
}
.gvp_wrapper #download_bar ul li a:hover {
	color: #000000;
	background-color: #ffffff;
	border: 1px solid #ccc;
	box-shadow: 0px 1px 0px #ccc;
	background-position: left 7px;
}
.gvp_wrapper .footer {
	color:#717073;
	font-size: 11px;
	font-weight: normal;
	margin: 15px 0px;
	float: left;
	clear: both;
}