body {
	border-top:15px solid #3b658f;
	background-color: #b0b7bc;
}
.gvp_wrapper {
	position: static;
	float: none;
	margin: 15px auto 15px;
}
.gvp_wrapper .logo {
	background-image: url("img/himt.png");
	width:203px;
	height:75px;
	margin: 0px;
}
.gvp_wrapper .title_bar {
	position:static;
	top:0;
	left:0;
	z-index:0;
	height:auto;
	color: #000000;
	font-size:24px;
	padding: 5px 0px;
	background: none;
	margin:15px 0px;
}
.gvp_wrapper .video_holder {
	box-shadow: 0px 0px 16px #333;
}

.gvp_wrapper #download_bar {
	margin: 15px 0px;
}
.gvp_wrapper #download_bar ul li a,
.gvp_wrapper #download_bar ul li a:visited {
	color: #000000;
	background-color: transparent;
	border: none;
	border-bottom: 3px solid #a4d7f4;
}
.gvp_wrapper #download_bar ul li a:after {
	opacity: 1;
}
.gvp_wrapper #download_bar ul li a:hover {
	border: none;
	border-bottom: 3px solid #f79762;
	background-color: transparent;
	color: #000;
}
.gvp_wrapper .footer {
	color:#000000;
	font-size: 11px;
	font-weight: normal;
	margin: 15px 0px;
	float: left;
	clear: both;
}