# ignore bower components
bower_components/
**/bower_components

# ignore node modules
node_modules/
**/node_modules

# ignore SASS cache hidden directory
.sass-cache
**/.sass-cache

# ignore build directory
**/build
build/

# ignore .map files
.map
**/.map

# ignore other experimental dev files
sources/scripts/playerClass.js

**/.DS_Store
package-lock.json
