# ignore bower components
bower_components/
**/bower_components

# ignore node modules
node_modules/
**/node_modules

# ignore SASS cache hidden directory
.sass-cache
**/.sass-cache

# ignore video and vtt files in build directory
build/*.mp4
build/*.vtt